# Travis CI 配置文件 - 测试 CI 触发
language: node_js
node_js:
  - '18'
  - '20'

branches:
  only:
    - master

cache:
  directories:
    - node_modules

install:
  - npm ci

before_script:
  - npm run clean

script:
  - npm run lint
  - npm run test
  - npm run build

after_success:
  - echo "构建成功完成！"